@CHARSET "ISO-8859-1";
body{
		margin: 0;
		background-image: url("../img/pharmacie_image.jpeg");
		background-position: 50% 50%;
	}
.vertical-offset-100{
    padding-top:150px;
}
.btn-lg {
	margin-top: 30px;
}
.input-group{
	margin:20px;
}
.btn-login{
    background-color: #78AB46;
    border-color: #78AB46;
}
/* 	form{ */
/* 		margin-top: 10%; */
/* 		margin-left: 35%; */
/* 		height: 200px; */
/* 		width:300px; */
/* 		background-color: #eee; */
/* 		padding: 60px; */
/* 		border-radius: 20px; */
/* 	} */
/* 	input{ */
/* 		height: 40px; */
/* 		width: 280px; */
/* 		outline-color:#eee; */
/* 		border: none; */
/* 		color:gray; */
/* 		font-style: verdana; */
/* 		font-size: 16px; */
/* 		text-indent:30px; */
/* 	} */
/* 	input[type="submit"]{ */
/* 		color:white; */
/* 		background-color: #78AB46; */
/* 		cursor: pointer; */
/* 		font-weight: bold; */
/* 	} */
/* 	input[type="password"]{ */
/* 		background-image:url("../img/key.png");  */
/* 		background-repeat: no-repeat;  */
/* 		background-position: 2% 50%; */
/* 	} */
/* 	input[type="email"]{ */
/* 		background-image:url("../img/at.png");  */
/* 		background-repeat: no-repeat;  */
/* 		background-position: 2% 50%; */
/* 	} */
