@CHARSET "ISO-8859-1";
body {
   background-size: 50% 950px;
     background-color: #eee ;
background-position: 100% 0%  ;
 background-image: url("../img/pharmacy.jpg") ; 
 background-repeat:repeat-x;
 

}

.champ{
  text-align: center ; 
font-weight: bold;
font-size: 20px ; 
color: #609f6b ;  
padding:15px  ;
 padding-left:10px ;  
width: 100% ; 

}
#top{
	  width: 100% ; 
	  height:100px ; 
	font : sans-serif;
	color :  #78AB46  ; /* #73a343*/
	font-size: 70px ; 
	text-align: center;
	
}
#form{

	padding-top:40px ; 
 width: 400px ; 

 height: 250px ; 

 border-color: grey ;
 border-radius: 6px ;

background-color: #eee ; 

margin-top: 90px ; 
margin-left: 540px  ;

}

footer{
	width:100%;
	height:80px;
	background-color:  #548426 !important;
	color:white;
	font:10pt verdana;
	text-align: center;
	position:fixed;
	left:0;
	bottom:0;      

}
#btn{

border-radius: 4px ; 
width: 80px ; 
height: 40px ; 
border-color: green ; 
background-color :green;
color: white;

}
.select{
	
	width:90px ; 
	height:30px ; 
	border-radius:4px ; 
	background-color:white ; 
	border-color:black ; 
	 font-style: normal;
	  margin-right:25px ; 
    
	
}
select:active, select:hover {
   outline:none ; 
}


